<link rel="stylesheet" href="{{url_for('static', filename='css/sidebar.css')}}">
<div class="bg-black collapse collapse-horizontal p-3" id="sidebar">
    <div class="click-through-box" style="pointer-events: none; width: 100%; height: 10vh;"></div>
    <button class="btn btn-outline-secondary sidebar-component" onclick="window.location.pathname='/'">+ New Chat</button>
    {% for chat in chatList %}
        <p class="sidebar-component"><a href="/{{chat[0]}}">{{chat[1]}}</a></p>
    {% endfor %}
</div>

<p>
    <button id="sidebar-toggle" class="m-3" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-expanded="false" aria-controls="sidebar">
        <h2>Lawgic</h2>
    </button>
</p>
<script src="{{url_for('static', filename='js/sidebar.js')}}"></script>